# ===== ENV =====
.env
.env.*
!.env.example

# ===== NODE =====
node_modules/

# ===== LOGS =====
logs/
logs/*.json
*.log

# ===== DATA LOCAL =====
src/data/*.json

# ===== ALLOW LOCK FILE =====
!package-lock.json
